# LIST Qs

### 1. Given a list of numbers, write a Python program to find the sum of all the elements in the list.?

#### Input: arr = [2,4,5,10], i = 1, j = 3 Output: 19

In [20]:
arr_list = input('Enter List members: ').split(',')
i = int(input('opening element index:'))
j =  int(input('closing element index:'))
arr_new = [int(arr_list[k]) for k in range(len(arr_list))]
sum(arr_new[i:j+1])

Enter List members:  1,2,3,4,5
opening element index: 2
closing element index: 4

12

 ### 2.Given an array of integers arr[] of size N and an integer, the task is to rotate the array elements to the left by d positions.?
 
 #### Input: arr[] = {1, 2, 3, 4, 5, 6, 7}, d = 2 Output: 3 4 5 6 7 1 2

### 3. Given a sequence of strings, the task is to find out the second most repeated (or frequent) string in the given sequence.

#### Input : ["aaa", "bbb", "ccc", "bbb", "aaa", "aaa"] Output : bbb

In [1]:
arr_list = input('Enter List members: ').split(',')

arr_dict = {i:arr_list.count(i) for i in arr_list}

import operator

arr_sort_val = sorted(arr_dict.items(), key = operator.itemgetter(1),reverse=True)
print('2nd highest occuring ewlement is:',arr_sort_val[1][0])

Enter List members:  aaa,sss,aaa,sss,sss,bbb

2nd highest occuring ewlement is: aaa

### 4. Difference between two lists ?

#### Input: list1 = [10, 15, 20, 25, 30, 35, 40] list2 = [25, 40, 35] Output: [10, 20, 30, 15]

In [1]:
list1 = [10,15,20,25,30,35,40]
list2 = [25,40,35]

set1 = set(list1)
set2 = set(list2)

list(set1.symmetric_difference(set2))

[20, 10, 30, 15]

### 5. Print all positive numbers from given list using for loop Iterate each element in the list using for loop and check if number is greater than or equal to 0. If the condition satisfies, then only print the number.?

#### # Python program to print positive Numbers in a List Input: list1 = [12, -7, 5, 64, -14] Output: 12, 5, 64 Input: list2 = [12, 14, -95, 3] Output: [12, 14, 3]

In [7]:
list1 = [12, -7, 5, 64, -14]

[i for i in list1 if i>0]

[12, 5, 64]

### 6. Write a Python program to flatten a given nested list structure.?

#### Original list: [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]] Flatten list: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [9]:
l = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

l2 = []
for i in l:
    if type(i)== int:
        l2.append(i)
    else:
        for j in i:
            l2.append(j)
l2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

### 7. Given an array and a value, find if there is a triplet in array whose sum is equal to the given value. If there is such a triplet present in array, then print the triplet and return true. Else return false.?

#### Input: array = [12, 3, 4, 1, 6, 9], sum = 24; Output: 12, 3, 9 Explanation: There is a triplet (12, 3 and 9) present in the array whose sum is 24.

In [20]:
import itertools as iter

array = [12, 3, 4, 1, 6, 9]
sum_flag = 24
combs = []

for comb in iter.combinations(array,3):
    if sum(comb) == sum_flag:
        combs.append(comb)
print('Required triplet is or are :',combs)

Required triplet is or are : [(12, 3, 9)]

# STRING Qs

### 1. Missing characters to make a string Pangram.?

##### Pangram is a sentence containing every letter in the English alphabet. Given a string, find all characters that are missing from the string, i.e., the characters that can make the string a Pangram. We need to print output in alphabetic order. Input : welcome to geeksforgeeks Output : abdhijnpquvxyz Input : The quick brown fox jumps Output : adglvyz

In [36]:
import string
ip = 'welcome to geeksforgeeks'

all_letter = string.ascii_lowercase

l2 = []

list(set(ip))

for i in all_letter:
    if i not in list(set(ip)):
        l2.append(i)
print('Output: ',''.join(l2))

Output:  abdhijnpquvxyz

### 2. Find total number of non-empty substrings of a string with N characters.?

#### Input : str = “abc” Output : 6 Every substring of the given string : “a”, “b”, “c”, “ab”, “bc”, “abc”

In [67]:
import itertools as itr
str1 = 'abc'
str2 = [i for i in str1]

combs = []
for i in range(len(str2) + 1): 
    for j in itr.combinations(str2,i):
        combs.append(j)
all = list(combs)

count = 0

for i in all:
    if i !=():
        count=count+1
print('Total non empty combinations: ',count)

Total non empty combinations:  7

### 3. Given a string containing lowercase and uppercase letters. Sort it in such a manner that the uppercase and lowercase letters come in an alternate manner but in a sorted way.?

#### Input : bAwutndekWEdkd Output :AbEdWddekkntuw

### 4. Write a Python program that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically). ?

#### Sample Words : red, white, black, red, green, black Expected Result : black, green, red, white,red

In [70]:
words = input().split(',')

word_unique_sorted = sorted(set(words))

word_unique_sorted

 red,white,black,red,green,black

['black', 'green', 'red', 'white']

### 5. Write a Python program to count the number of characters (character frequency) in a string. ?

#### Sample String : google.com' Expected Result : {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [72]:
str1 = 'google.com'
str_list = [i for i in str1]

word_freq = {letter:str_list.count(letter) for letter in str_list}
word_freq

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

### 6. find the frequency of minimum occurring character in a python string ?

#### The original string is : iNeuronNet.com The minimum of all characters in GeeksforGeeks is : i

In [79]:
import operator as op

str1 = 'iNeuronNet.com'
str_list = [i for i in str1]
word_freq = {letter:str_list.count(letter) for letter in str_list}
sorted_dict = sorted(word_freq.items(), key = op.itemgetter(1))
print('The min occuring element is: ',sorted_dict[0][0],' and its freq is: ',sorted_dict[0][1] )

The min occuring element is:  i  and its freq is:  1

### 8. Write a program extract all the string characters which have odd number of occurrences.

#### The original string is : geekforgeeks is best for geeks The Odd Frequency Characters are : ['k', 'i', 't', 'g', 'e', 'b']

In [87]:
str1 = ' geekforgeeks is best for geeks'
str_list = [i for i in str1]
word_freq = {letter:str_list.count(letter) for letter in str_list if letter != ' ' and str_list.count(letter)%2 !=0}
odd_freq_letters = [i for i,j in word_freq.items()]

print('Odd Freq letters are : ',odd_freq_letters)

Odd Freq letters are :  ['g', 'e', 'k', 'i', 'b', 't']

# Dictionary

### 1. Given an input string and a pattern, check if characters in the input string follows the same order as determined by characters present in the pattern.Assume there won’t be any duplicate characters in the pattern.?

#### Input: string = "engineers rock" pattern = "er";  Output: true

### 2.Given a list and dictionary, map each element of list with each item of dictionary, forming nested dictionary as value.?

#### Input : test_dict = {‘Gfg’ : 4, ‘best’ : 9}, test_list = [8, 2] Output : {8: {‘Gfg’: 4}, 2: {‘best’: 9}}

In [3]:
test_dict = {'Gfg' : 4, 'best': 9}

test_list = [8, 2]

d= {}

for k,v in zip(test_list,test_dict.items()):
    d[k] = dict([v])
d

{8: {'Gfg': 4}, 2: {'best': 9}}

### 3.Sort Dictionary key and values List ?

#### Input : test_dict = {‘c’: [3], ‘b’: [12, 10], ‘a’: [19, 4]} Output : {‘a’: [4, 19], ‘b’: [10, 12], ‘c’: [3]} 

#### Input : test_dict = {‘c’: [10, 34, 3]} Output : {‘c’: [3, 10, 34]}

In [60]:
test_dict2 = {'c': [10, 34, 3]}

test_dict2['c'] = sorted(test_dict2['c'])

dict(sorted(test_dict2.items()))

{'c': [3, 10, 34]}

### 4. Remove all duplicates words from a given sentence ?

##### Input : Python is great and Java is also great 
##### Output : is also Java Python and great

In [7]:
input_txt = 'Python is great and Java is also great'

list(set(input_txt.split()))

['Python', 'is', 'and', 'also', 'Java', 'great']

### 5. Inversion in nested dictionary?
#### Input : test_dict = {“a” : {“b” : {}}, “d” : {“e” : {}}, “f” : {“g” : {}}
#### Output : {‘b’: {‘a’: {}}, ‘e’: {‘d’: {}}, ‘g’: {‘f’: {}} 
##### Explanation : Nested dictionaries inverted as outer dictiona

### 6. Given an array of n string containing lowercase letters. Find the size of largest subset of string which are anagram of each others. An anagram of a string is another string that contains same characters, only the order of characters can be different. For example, “abcd” and “dabc” are anagram of each other.?

#### Input: ant magenta magnate tan gnamate 
#### Output: 3 Explanation Anagram strings(1) - ant, tan Anagram strings(2) - magenta, magnate, gnamate Thus, only second subset have largest size i.e., 3 

Input: cars bikes arcs steer Output: 2

# Sets

### 1. Given two lists a, b. Check if two lists have at least one element common in them.
#### Input : a = [1, 2, 3, 4, 5] b = [5, 6, 7, 8, 9] 
#### Output : True 

#### Input : a=[1, 2, 3, 4, 5] b=[6, 7, 8, 9]
#### Output : False

In [17]:
a = [1, 2, 3, 4, 5] 
b = [5, 6, 7, 8, 9]

set_a = set(a)
set_b = set(b)

len(set_a.intersection(set_b)) !=0

True

In [18]:
a=[1, 2, 3, 4, 5]
b=[6, 7, 8, 9]

set_a = set(a)
set_b = set(b)

len(set_a.intersection(set_b)) !=0

False

### 2. Return a new set of identical items from two sets
#### set1 = {10, 20, 30, 40, 50}
#### set2 = {30, 40, 50, 60, 70}
#### Expected output: {40, 50, 30}

In [19]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection(set2)

{30, 40, 50}

### 3. Maximum and Minimum in a Set without use of inbuild max/min functions?
#### Input : set = ([8, 16, 24, 1, 25, 3, 10, 65, 55]) Output : max is 65 Input : set = ([4, 12, 10, 9, 4, 13]) 
#### Output : min is 4

In [22]:
set1 = {8, 16, 24, 1, 25, 3, 10, 65, 55}

set2 = {4, 12, 10, 9, 4, 13}

In [26]:
max1 = sorted(set1)[-1]
min2 = sorted(set2)[0]

In [27]:
max1, min2

(65, 4)

### 4. Write a Python program to check if a set is a subset of another set
#### Input :- x: {'mango', 'apple'} y: {'mango', 'orange'} z: {'mango'} 
#### output :- If x is subset of y False False 

#### If y is subset of x False False

In [30]:
x =  {'mango', 'apple'}
y ={'mango', 'orange'}
z = {'mango'}

In [32]:
print('If x is subset of y :',x.issubset(y))
print('If y is subset of x :',y.issubset(x))
print('If z is subset of x :',z.issubset(x))
print('If z is subset of y :',z.issubset(y))

If x is subset of y : False
If y is subset of x : False
If z is subset of x : True
If z is subset of y : True

### 5. Write a Python program to remove the intersection of a 2nd set from the 1st set
#### input:- Original sets: {1, 2, 3, 4, 5} {4, 5, 6, 7, 8} 
#### Output:- sn1: {1, 2, 3} sn2: {4, 5, 6, 7, 8}

In [38]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print('removed intersection of set1 and set2 from set1 :',set1.difference(set2))
print('removed intersection of set1 and set2 from set2 :',set2.difference(set1))

removed intersection of set1 and set2 from set1 : {1, 2, 3}
removed intersection of set1 and set2 from set2 : {8, 6, 7}

### 6. What is the result of passing a dictionary to a set constructor?

# Tuple

### 1. Remove Tuples of Length K ?
#### Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 
#### Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] Explanation : (4, 5) of len = 2 is removed.

In [42]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

[i for i in test_list if len(i) !=2]

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

### 2. Removing duplicates from tuple ?
#### The original tuple is : (1, 3, 5, 2, 3, 5, 1, 1, 3)
#### The tuple after removing duplicates : (1, 3, 5, 2)

In [ ]:
tup1 = (1, 3, 5, 2, 3, 5, 1, 1, 3)

tuple((set(tup1)))

### 3. Flatten tuple of List to tuple ?
#### Input : test_tuple = ([5], [6], [3], [8]) Output : (5, 6, 3, 8) Input : test_tuple = ([5, 7, 8])
#### Output : (5, 7, 8)

In [6]:
test_tuple = ([5, 7, 8])
#([5], [6], [3], [8])
res= []

for i in test_tuple:
    if len(test_tuple)==1:
        res_tup = tuple(i)
    else:
        res.append(i)
        res_tup = tuple(res)
res_tup

(5, 7, 8)

### 4. Remove nested records from tuple?
#### The original tuple : (1, 5, 7, (4, 6), 10)
#### Elements after removal of nested records : (1, 5, 7, 10)

In [13]:
tup1 = (1, 5, 7, (4, 6), 10)

tuple([i for i in tup1 if type(i) != (tuple or list) ])

(1, 5, 7, 10)

### 5. Convert Binary tuple to Integer?
#### Basic Questions 8 The original tuple is : (1, 1, 0, 1, 0, 0, 1) Decimal number is : 105

### 6. Sort Tuples by Total digits?
#### Input : test_list = [(3, 4, 6, 723), (1, 2), (134, 234, 34)]
#### Output : [(1, 2), (3, 4, 6, 723), (134, 234, 34)] Explanation : 2 < 6 < 8, sorted by increasing total digits.

# MAP & Lambda Function

### 1. Write a Python program to add three given lists using Python map and lambda.?
#### Original list: 
[1, 2, 3] 
[4, 5, 6] 
[7, 8, 9] 
#### New list after adding above three lists: [12, 15, 18]

In [14]:
l1,l2,l3 = [1, 2, 3], [4, 5, 6] , [7, 8, 9]

In [21]:
[sum(i) for i in list(zip(l1,l2,l3))]

[12, 15, 18]

In [24]:
list(map(lambda i:sum(i),list(zip(l1,l2,l3))))

[12, 15, 18]

### 2. Write a Python program to convert a given list of tuples to a list of strings using map function?
#### Original list of tuples: [('red', 'pink'), ('white', 'black'), ('orange', 'green')] Convert the said list of tuples to a list of strings: ['red pink', 'white black', 'orange green']

In [17]:
l = [('red', 'pink'), ('white', 'black'), ('orange', 'green')]

In [19]:
list(map(lambda i:' '.join(i),l))

['red pink', 'white black', 'orange green']

### 3. Write a Python program to add two given lists and find the difference between lists. Use map() function?
#### Original lists: [6, 5, 3, 9] [0, 1, 7, 7] 
#### Result: [(6, 6), (6, 4), (10, -4), (16, 2)]

In [29]:
import numpy as np

def add_sub(l1,l2):
    new_l = list(zip(l1,l2))
    for i in new_l:
        l3 = list(zip(np.add(l1,l2),np.subtract(l1,l2)))
        return l3

l1=  [6, 5, 3, 9]
l2=  [0, 1, 7, 7]

add_sub(l1,l2)

[(6, 6), (6, 4), (10, -4), (16, 2)]

### 4. Write a Python program to create Fibonacci series upto n using Lambda?
#### Basic Questions 9 Fibonacci series upto 2: [0, 1] Fibonacci series upto 5: [0, 1, 1, 2, 3]

In [31]:
from functools import reduce
  
fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]],
                                 range(n-2), [0, 1])
  
print(fib(2))

[0, 1]

### 5. Write a Python program to find intersection of two given arrays using Lambda ?
#### [1, 2, 3, 5, 7, 8, 9, 10] [1, 2, 4, 8, 9] 
#### Intersection of the said arrays: [1, 2, 8, 9]

In [32]:
l1 = [1, 2, 3, 5, 7, 8, 9, 10]
l2 = [1, 2, 4, 8, 9]

list(filter(lambda x: x in l1,l2))

[1, 2, 8, 9]

### 6. Write a Python program to find palindromes in a given list of strings using Lambda ?
#### Orginal list of strings: ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']
#### List of palindromes: ['php', 'aaa']

In [34]:
l1 = ['php', 'w3r', 'Python', 'abcd', 'Java', 'aaa']

In [35]:
list(filter(lambda x:x == x[::-1],l1))

['php', 'aaa']

### 7. Write a Python program to find the list with maximum and minimum length using lambda ?
#### Original list: [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
#### List with maximum length of lists: (3, [13, 15, 17]) 
#### List with minimum length of lists: (1, [0])

In [38]:
def max_length_list(input_list):
    max_length = max(len(x) for x in input_list )   
    max_list = max(input_list, key = lambda i: len(i))    
    return(max_length, max_list)
    
def min_length_list(input_list):
    min_length = min(len(x) for x in input_list )  
    min_list = min(input_list, key = lambda i: len(i))
    return(min_length, min_list)
      
list1 = [[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]
print("Original list:")
print(list1)
print("\nList with maximum length of lists:")
print(max_length_list(list1))
print("\nList with minimum length of lists:")
print(min_length_list(list1))

Original list:
[[0], [1, 3], [5, 7], [9, 11], [13, 15, 17]]

List with maximum length of lists:
(3, [13, 15, 17])

List with minimum length of lists:
(1, [0])

### 8. Write a Python program to triple all numbers of a given list of integers.?
### Original list: (1, 2, 3, 4, 5, 6, 7) 
### Triple of said list numbers: [3, 6, 9, 12, 15, 18, 21]

In [39]:
l = [1, 2, 3, 4, 5, 6, 7]
    
list(map(lambda x : x*3, l))

[3, 6, 9, 12, 15, 18, 21]

# List Comprehension 

### 1. Use a nested list comprehension to find all of the numbers from 1–1000 that are divisible by any single digit besides 1 (2–9)?

### 2. Use list comprehension to construct a new list but add 6 to each item?

### 3. Suppose we want to create an output dictionary which contains only the odd numbers that are present in the input list as keys and their cubes as values. Let’s see how to do this using for loops and dictionary comprehension.?
#### input = [1, 2, 3, 4, 5, 6, 7] outpur :- {1: 1, 3: 27, 5: 125, 7: 343}

In [2]:
input = [1, 2, 3, 4, 5, 6, 7]

{i:i**3 for i in input if i%2 != 0}

{1: 1, 3: 27, 5: 125, 7: 343}

### 4. Given two lists containing the names of states and their corresponding capitals, construct a dictionary which maps the states with their respective capitals. Let’s see how to do this using for loops and dictionary comprehension.?
#### state = ['Gujarat', 'Maharashtra', 'Rajasthan'] 
#### capital = ['Gandhinagar', 'Mumbai', 'Jaipur']
#### output:- {'Gujarat': 'Gandhinagar','Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

In [17]:
state = ['Gujarat', 'Maharashtra', 'Rajasthan']
capital = ['Gandhinagar', 'Mumbai', 'Jaipur']

{k:v for k,v in zip(state,capital) }

{'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

### 5. Transpose of Matrix using Comprehension?
#### Input :- [[1, 2, 3, 4], [4, 5, 6, 8]] 
#### Output :- [[1, 4], [2, 5], [3, 6], [4, 8]]

In [23]:
ip =  [[1, 2, 3, 4], [4, 5, 6, 8]]

rez = [[ip[j][i] for j in range(len(ip))] for i in range(len(ip[0]))]
rez

[[1, 4], [2, 5], [3, 6], [4, 8]]

### 6. We have a string ‘2459a09b’ and we want to extract all integer literals, and use int() to cast them into integers.?
#### Input- 2459a09b' output :- [2, 4, 5, 9, 9]

In [4]:
string = '2459a09b'

[int(i) for i in string if i.isdigit() and int(i) > 0]

[2, 4, 5, 9, 9]

### 7. Finding the elements in a list in which elements are ended with the letter ‘b’ and the length of that element is greater than 2?
#### input :- names = ['Ch','Dh','Eh','cb','Tb','Td','Chb','Tdb'] 
#### output :- ['Chb', 'Tdb']

In [6]:
names = ['Ch','Dh','Eh','cb','Tb','Td','Chb','Tdb']

[i for i in names if len(i)>2 and i[-1] =='b']

['Chb', 'Tdb']

### 8. Reverse each String in a Tuple using list comprehension ?
#### Input :- 'Hello', 'Analytics', 'Vidhya' 
#### output :- ['olleH', 'scitylanA', 'ayhdiV']

In [12]:
Input1 = ('Hello', 'Analytics', 'Vidhya')

[i[::-1] for i in Input1]

['olleH', 'scitylanA', 'ayhdiV']